.players {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 1rem;
	position: relative;
	width: 100%;
	margin: 4rem auto 3rem;
	border-bottom: 1px solid var(--gray);

	@media (max-width: 552px) {
		flex-wrap: wrap;
		gap: 1rem 0;
		border: none;
	}

	> button {
		padding: .5rem 0;
		width: 100%;
		text-align: center;
		color: var(--gray);
		cursor: pointer;
		border-bottom: 4px solid transparent;
		@include transition(all .2s ease-in-out);

		@media (max-width: 552px) {
			width: 50%;
			border-bottom: 4px solid lightgray;
		}

		&[aria-selected="true" ] {
			font-weight: $semibold;
			color: var(--black);
			border-bottom: 4px solid var(--main-color);
			z-index: 10;
			@include transition(all .2s ease-in-out);
		}
	}

	&__item {
		@include transition(all .2s ease-in-out);
		opacity: 0;

		&:not([hidden]) {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 2rem;
			min-height: rem(420);
			opacity: 1;
			@include transition(all .2s ease-in-out);
			@media (max-width: 768px) {
				flex-direction: column;
				gap: 0;
				min-height: auto;
			}
		}

		> picture {
			@media (max-width: 768px) {
				width: rem(350);
			}

			> img {
				width: 100%;
				height: auto;
			}
		}

		> div {
			max-width: rem(768);
		}
	}
}
