
.form {
	max-width: rem(1200);
	margin: 4rem 0;
	background: transparent;

	&__section {
		width: 50%;

		&--flex {
			display: flex;
			flex-wrap: wrap;
			gap: 4rem;
			width: 100%;

			> div {
				width: calc(50% - 2rem);
			}
		}
	}

	label, legend {
		display: block;
		font-weight: $semibold;
		margin-bottom: 0.5rem;
	}

	input[type="text"],
	select,
	textarea {
		width: 100%;
		padding: 1rem;
		border: 1px solid var(--gray);
		border-radius: 1rem;
		font-size: 1rem;
		background-color: var(--white);
		margin-bottom: 0.5rem;
		@include transition(border .2s ease-in-out);
	}

	input[type="text"]:focus,
	select:focus,
	textarea:focus {
		border-color: var(--main-color);
		outline: 1px solid var(--main-color);
		@include transition(border .2s ease-in-out);
	}

	input[type="text"].error,
	select.error,
	textarea.error {
		border-color: var(--main-color);
		
	}

	.form-help,
	.error-message {
		color: var(--main-color);
		font-size: .8rem;
		margin-bottom: 1rem;
		font-weight: $bold;
		line-height: 1.6;
		display: block;
	}

	fieldset {
		border: none;
		margin: 1.5rem 0 0.5rem 0;
		padding: 0;
	}

	input[type="radio"],
	input[type="checkbox"] {
		accent-color: var(--main-color);
		@include square(1rem);
		position: relative;
		bottom: 3px;
		
		+ label {
			font-weight: $regular;
		}
	}
	
}




