<div class="faq" id="accordion">
    <section class="faq__item" id="header-@cItem.Id">
        <h2>
            <button href="" data-bs-toggle="collapse" data-bs-target="#@cItem.Id" aria-expanded="false"
                    aria-controls="@cItem.Id">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" width="24"
                     x="0px"
                     y="0px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                          d="M14.8,12L5,2.1L7.1,0L19,12L7.1,24L5,21.9L14.8,12z"></path>
                </svg>
                Titel Faq
            </button>
        </h2>
        <div id="@cItem.Id" class="collapse faq__body" aria-labelledby="header-@cItem.Id"
             data-bs-parent="#accordion">
            <p>intro</p>
            <a class="leesmeer" aria-label="link naar de paginga" href="#">
            lees meer
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M6.23 20.23L8 22l10-10L8 2L6.23 3.77L14.46 12z"/></svg>
            </a>
        </div>
    </section>

</div>